<h2>Bienvenido</h2>

<h3>Iniciar Sesión</h3>
<form class=".form-inline" [formGroup]="loginForm">
   <div class="form-group">
      <label class="control-label col-sm-2" for="usuario">Usuario: 
      </label>      
  
         <input 
            type="text" 
            name="usuario"  
            id="usuario"
            [formControl]="loginForm.controls.usuario" 
         />
      

         <div *ngIf="user=='' && submited==1">
            <small>Debe escribir el nombre de usuario</small> 
         </div>
   </div>
   <div class="form-group">
         <label class="control-label col-sm-2" for="password">Password: 
         </label>
      <input 
      type="password" 
      name="password" 
      id="password"  
      [formControl]="loginForm.controls.password"
      />
   
      <div *ngIf="pwd=='' && submited==1">
         <small> Debe escribir el password</small> 
      </div>
   </div> 
   <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
         <button class="boton bg-verde w-50" 
         type="button" 
         (click)="verificaUsuario()" >Login
         </button>
      </div>

   </div>
</form>
<div>
<ngx-spinner
bdColor="rgba(118, 165, 175, 1.0)" size="medium" color="#faff00" type="ball-clip-rotate-multiple"
        [fullScreen]="true"> Validando </ngx-spinner>
</div>
        <div class="imagen">
   <img src="./assets/img/login/fondo1.jpg" width="400px">
</div>


